.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

 
/*************GLOBAL STYLES*************/

.fa
{
  font-family: FontAwesome !important;
}

/**************************************/

#root
{
  position: absolute;
  width: 100%;
  height: 100%;
}

#root + div 
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.ccv 
{
  position: absolute;
    width: 100%;
    height: 100%;
}

.ccv + div 
{
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  
}

.jumbotron 
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: -76px; */
    min-height: 100% !important;
}

.headerDB 
{
    z-index: 11111 !important;
}