.headerDB
{
    background: red;
}

.mainOuterContainer
{
    padding-top : 60px;
}

.searchText
{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
    font-family: Lato, Roboto !important;
}

.captText
{
    font-weight: bold;
    font-size: 31px;
    font-weight: bold !important;
    text-transform: capitalize;
    font-family: Lato, Roboto !important;
}

.text-center
{
    text-align: center;
}

.load-more
{
    width: 250px;
    background: #006ec1;
    color: white;
    font-weight: bold;
    letter-spacing: 1p;
    font-family: Lato;
    cursor: pointer;
    margin-top: 30px;

}

.load-left,.load-right
{
    font-size: 25px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #d3d8de;
    font-weight: lighter;
    margin: 30px 50px;
}


.disable-button 
{
    border: 1px solid #d3d8de;
    color: #d3d8de;
    pointer-events: none;
}

.jg2
{
    border: 1px solid #cdd4db;
}